{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css\dafbuk.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js\dafbuk.js' %}" type="text/javascript"></script>
<!-- <script>
    window.onload = function() {
        if (window.jQuery) {  
            // jQuery is loaded  
            alert("Yeah!");
        } else {
            // jQuery is not loaded
            alert("Doesn't Work");
        }
    }
</script> -->
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__texts">
        <p class="main__texts__text">DAFTAR BUKU</p>
    </div>
    <div class="bg"></div>
    <div class="flex w-screen justify-center">
        <div class="searchbox shadow flex flex-col content-center w-1/4 space-y-1 p-3 " style="background-color: white;">
            <h1 class="searchtitle text-center">Cari Buku</h1>
            <input type="search" onload="searchbook()" placeholder="Masukan kueri..." class="searchbook shadow focus:outline-none focus:shadow-outline">
        </div>
    </div>
    <!-- <div class=" h-64"></div> -->
</main>
<section id="profile" class="content profile">
    <div></div>
    <ul class="main__featured">
        <li class="main__featured__item">
            <a href="/story3#bio">
                <div class="main__featured__item__body">
                    <p>PROFILE</p>
                </div>
            </a>
        </li>
    </ul>
    <section id="dafbuk" class="content bio">
        <header class="content__header">
            <h1 class="content__header__title">"Hasil Penelusuran"</h1>
        </header>
        <div class="hasilsearch flex flex-wrap space-x-10" style="height: 47vw">
            <div class='bukubuku mb-3'>
                <h1>Tafsir Mimpi: Menurut Al-Quran & As-Sunnah</h1>
            </div>
            <div class='bukubuku mb-3'>
                <h1>Tafsir Mimpi: Menurut Al-Quran & As-Sunnah</h1>
            </div>
            <div class='bukubuku mb-3'>
                <h1>Tafsir Mimpi: Menurut Al-Quran & As-Sunnah</h1>
            </div>
            <div class='bukubuku mb-3'>
                <h1>Tafsir Mimpi: Menurut Al-Quran & As-Sunnah</h1>
            </div>
            <div class='bukubuku mb-3'>
                <h1>Tafsir Mimpi: Menurut Al-Quran & As-Sunnah</h1>
            </div>
        </div>
    </section>
</section>
{% endblock %}