{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main">
        <div class="main__texts">
            <p class="main__texts__text">Daftar Kegiatan</p>
        </div>
        <div class="flex flex-col md:flex-row w-screen justify-items-auto md:justify-center space-x-3">
            {% if kegiatan %}
                {% for keg in kegiatan %}
                    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-3/4 md:w-auto">
                        <label class="block text-gray-700 text-sm font-bold mb-2">
                            {{ keg.keg_name }}
                        </label>
                        {% for pes in peserta %}
                            {% if pes.event == keg %}
                            <div>
                                {{ pes.name }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div> 
    </main>
    <section id="profile" class="content profile">
        <div></div>
        <ul class="main__featured">
            <li class="main__featured__item">
                <a href="/story3#bio">
                    <div class="main__featured__item__body">
                        <p>PROFILE</p>
                    </div>
                </a>
            </li>
            <li class="main__featured__item">
                <a href="#atur">
                    <div class="main__featured__item__body">
                        <p>ATUR MATKUL</p>
                    </div>
                </a>
            </li>
        </ul>
        <section id="atur" class="content bio">
            <header class="content__header">
                <h1 class="content__header__title">"Daftar Kegiatan"</h1>
            </header>
            <div class="flex flex-col justify-center space-y-20" style="height: 47vw">
                <div class="flex flex-col md:flex-row w-screen justify-items-center md:justify-center md:space-x-5 m-x-auto">
                    <div class="w-full max-w-xs">
                        <form action="addevent" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                    Tambah Kegiatan
                                </label>
                                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="keg_name" type="text" placeholder="Nama Kegiatan">
                                <!-- <p class="text-red-500 text-xs italic">Sudah ada dalam database!</p> -->
                            </div>
                        <div class="flex items-center justify-between">
                            <input type="submit" value="Proses" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                        </div>
                        </form>
                    </div>

                    <div class="w-full max-w-xs">
                        <form action="addpeserta" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            {% csrf_token %}
                            <div class="mb-4 space-y-1">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                    Daftarkan Diri
                                </label>
                                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="pes_name" type="text" placeholder="Nama kamu">
                                <div class="inline-block relative w-64">
                                    {% if kegiatan %}
                                    <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" id="keg_name" name="keg_name">
                                        {% for keg in kegiatan %}
                                        <option value="{{ keg.keg_name }}"> {{ keg.keg_name }}</option>
                                        {% endfor %}
                                    </select>
                                        {% else %}
                                    <select disabled style="color: grey" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                        <option> Tak ada Kegiatan saat ini </option>
                                    </select>
                                    {% endif %}
                                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center justify-between">
                            <input type="submit" value="Proses" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}