<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>bruh momentum</title>
        <link rel="stylesheet" href="{% static 'index1.css' %}">
    </head>
    <body>
        <header>
            <h1>"epic"</h1>
        </header>
        <section>
            <nav>
                <img src="{% static 'img\CN52.jpg' %}" id="prof" alt="my profile picture">
            </nav>
            <article>
                <p>Nama: Ryanda Mahdy Ananda</p>
                <p>NPM: 1906351064</p>
                <p>Angkatan: 2019</p>
                <p>Hobi: menabong</p>
                <p>Desc: normal boy for normal people</p>
                <p>Tempat Kuliah: UI</p>
                <p>Riwayat pendidikan: 71,AASP,PUTRA,PUTIK</p>
                <p>Media Sosial: ¯\_(ツ)_/¯</p> 
            </article>
        </section>
        <div id="volume">
            <audio id="bgm" autoplay="True" loop="True">
                <source src="{% static 'sound\dot.mp3' %}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio> 
            <button id="bgmvol" type="button" value="2">BGM: 25%</button>
        </div>
        <script src="{% static 'js\bgm.js' %}" type="text/javascript"></script>
    </body>
</html>
