{% extends "base.html" %}
{% load static %}

{% block content %}
        <main class="main">
            <div class="main__texts">
                <p class="main__texts__text">This is<br>An another pages<p>
            </div>
            <div class="bg">

            </div>
        </main>
{% endblock %}
