<!DOCTYPE html>
{% load static %}
<html class="us top firefox device-unknown desktop mouse modern wf-notoserifjp-n4-active wf-notoserifjp-n7-active wf-notosansjp-n4-active wf-notosansjp-n7-active wf-cardo-n4-active wf-active" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <title>Story 3 | PPW</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'index2.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib.css' %}">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body style="top: 0px">
        <!-- <header id="header">
            <a href="/story1">
                <div class="btn_menu">
                    <p class="btn_menu__text">SWITCH</p>
                </div>
            </a>
            <button class="btn__reservation" id="bgmvol" value="2">
                <audio id="bgm" autoplay="True" loop="True">
                    <source src="{% static 'sound\dot.mp3' %}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio> 
                <img class="btn__reservation__img" src="{% static 'img\25695.png' %}" alt="sound toggle">
            </button>
        </header id="header"> -->
        <div class ="shadow navcon fixed top-0 right-0 left-0container p-5 w-screen z-50" style="background-color: #E63946e7;">
            <nav class="navbar flex justify-between w-scren">
                <ul class="flex flex-row" >
                    <li class="pl-5"><a href="/story1">Story 1&2</a></li>
                    <li class="pl-5"><a href="/story3">Story 3&4</a></li>
                    <li class="pl-5"><a href="/story5">Story 5</a></li>
                    <li class="pl-5"><a href="/story6">Story 6</a></li>
                    <li class="pl-5"><a href="/story7">Story 7</a></li>
                    <li class="pl-5"><a href="/story8">Story 8</a></li>
                    <li class="pl-5"><a href="/story9">Story 9</a></li>
                </ul>
                <div class="flex flex-row">
                    <div class="pl-5">

                    </div>
                    <div class="pl-5">
                        <button id="bgmvol" value="2">
                            <audio id="bgm" autoplay="True" loop="True">
                                <source src="{% static 'sound\dot.mp3' %}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio> 
                            <img class="w-4" src="{% static 'img\25695.png' %}" alt="sound toggle">
                        </button>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="pl-5">
                        Welcome, {{ user.get_username }} <a href="/story9/logout">(Logout?)</a>
                    </div>
                    {% else %}
                    <div class="pl-5">
                        <a href="/story9/login">Login</a>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div id="wrapper" class="wrapper">
           {% block content %}
           {% endblock %}
        </div>
        <footer id="footer">
            <section class="footer__default">
                <figure class="footer__default__figure">
                    <img src="{% static 'img\MHFU-Question_Mark_Icon.webp' %}" alt="web icon">
                </figure>
                <p class="footer__default__text">ryanstory1ppw</p>
            </section>
        </footer>
        <script src="{% static 'js\bgm.js' %}" type="text/javascript"></script>
    </body>
</html>