{% extends "base.html" %}
{% load static %}

{% block content %}
        <main class="main">
            <div class="main__texts">
                <p class="main__texts__text">Hello there! <br>I'm Ryanda Mahdy A.<p>
            </div>
            <div class="bg">

            </div>
        </main>
        <section id="profile" class="content profile">
            <ul id="social">
                <li>
                    <a href="https://www.linkedin.com/">
                        <img src="{% static 'img\888034_logo_512x512.png' %}" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="https://www.gitlab.com/WhReen">
                        <img src="{% static 'img\gitlab.png' %}" alt="GitLab">
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/">
                        <img src="{% static 'img\twitter-circled.png' %}" alt="Twitter">
                    </a>
                </li>
                <li>
                    <a href="https://www.steamcommunity.com/id/CustomUuRL">
                        <img src="{% static 'img\Steam2c7opy.png' %}" alt="Steam">
                    </a>
                </li>
            </ul>
            <ul class="main__featured">
                <li class="main__featured__item">
                    <a href="#bio">
                        <div class="main__featured__item__body">
                            <p>PROFILE</p>
                        </div>
                    </a>
                </li>
                <li class="main__featured__item">
                    <a href="/story5">
                        <div class="main__featured__item__body">
                            <p>DAFTAR MATA KULIAH</p>
                        </div>
                    </a>
                </li>
            </ul>
            <div id="bio" class="content bio">
                <header class="content__header">
                    <h1 class="content__header__title">Biography</h1>
                </header>
                <figure class="bio__figure">
                    <img src="{% static 'img\CN52.jpg' %}" id="prof" alt="my profile picture">
                </figure>
                <section class="bio__body">
                    <h1 class="bio__title">Nama: Ryanda Mahdy Ananda</h1>
                    <div class="bio__text">
                        <p>NPM: 1906351064</p>
                        <p>Angkatan: 2019</p>
                        <p>Hobi: menabong</p>
                        <p>Desc: normal boy for normal people</p>
                        <p>Tempat Kuliah: UI</p>
                        <p>Riwayat pendidikan: SMAN 71, Al-Azhar Sentra Primer, Putra I, Putik</p>
                    </div>
                </section>
            </div>
        </section>
{% endblock %}