<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <title>PortalPPW</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'index2.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib.css' %}">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body style="top: 0px">
        <div id="wrapper" class="wrapper">
            <main class="main">
                <div class ="flex mb-4 flex-col md:flex-row h-screen content-start justify-evenly"> 
                    <a href="/story1" class="flex content-center w-screen h-1/6 md:w-1/6 md:h-screen" style="background-color: aquamarine;">
                        <div class="place-self-center text-center py-10 pl-3">
                            <h1 class="inline-block">STORY 1</h1>
                        </div>
                    </a>
                    <a href="/story3" class="flex content-center w-screen h-1/6 md:w-1/6 md:h-screen" style="background-color:antiquewhite;">
                        <div class="place-self-center text-center py-10 pl-3">
                            <h1 class="inline-block">STORY 3</h1>
                        </div>
                    </a>
                    <a href="/story5" class="flex content-center w-screen h-1/6 md:w-1/6 md:h-screen" style="background-color:aquamarine;">
                        <div class="place-self-center text-center py-10 pl-3">
                            <h1>STORY 5</h1>
                        </div>
                    </a>
                    <a href="/story6" class="flex content-center w-screen h-1/6 md:w-1/6 md:h-screen" style="background-color:antiquewhite;">
                        <div class="place-self-center text-center py-10 pl-3">
                            <h1>STORY 6</h1>
                        </div>
                    </a>
                    <a href="/story7" class="flex content-center w-screen h-1/6 md:w-1/6 md:h-screen" style="background-color:aquamarine;">
                        <div class="place-self-center text-center py-10 pl-3">
                            <h1>STORY 7</h1>
                        </div>
                    </a>
                    <a href="/story8" class="flex content-center w-screen h-1/6 md:w-1/6 md:h-screen" style="background-color:antiquewhite;">
                        <div class="place-self-center text-center py-10 pl-3">
                            <h1>STORY 8</h1>
                        </div>
                    </a>
                </div>
            </main>
        </div>
    </body>
</html>