
/*             *\
     $COMMON 
\*             */
::selection {
    background: #0e9ee3;
    color: #FFF; }
  
::-moz-selection {
    background: #0e9ee3;
    color: #FFF; }

html {
    color: #0b263d;
    background-color: #000; }

body {
    font-family: -apple-system, "BlinkMacSystemFont", Helvetica, sans-serif;
    width: 100%; }
    body.is-menu {
        position: fixed; }
    body:before {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #F1FAEE;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1; }
    @media only screen and (max-width: 1000px) {
        body:before {
        background-size: 400% auto; } }

img {
    vertical-align: bottom; }  

a {
    color: #26749a;
    text-decoration: none; }

a:focus, *:focus {
    outline: none; }

ul {
    list-style: none; }

.br_pc {
    display: block; }
    @media only screen and (max-width: 1000px) {
        .br_pc {
        display: none; } }

.br_sp {
    display: none; }
    @media only screen and (max-width: 1000px) {
        .br_sp {
        display: block; } }

.wrapper {
    position: relative;
    z-index: 0; }
    .wrapper img {
        width: 100%;
        height: auto; }

/*             *\
     $HEADER
\*             */
#header {
    position: absolute;
    z-index: 9999; }

/*************
menu
 */
 .btn_menu {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 1.66667vw;
    z-index: 9999;
    width: 5.66667vw;
    height: 6.03333vw;
    background-color: #E63946e7;
    background-size: cover;
    transition: background-image 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75); }
    .btn_menu:hover {
    background-color: #fd7c87e7; }
    @media only screen and (max-width: 1000px) {
      .btn_menu {
        right: 2.66667vw;
        width: 14.93333vw;
        height: 16vw; } }
  
.btn_menu__text {
    position: absolute;
    top: 1.93333vw;
    font-size: 26px;
    font-size: 1.3vw;
    line-height: 1.6;
    width: 5.66667vw;
    text-align: center;
    line-height: 1;
    color: #FFF;
    transition: color 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75); }
    @media only screen and (max-width: 1000px) {
        .btn_menu__text {
        top: 4vw;
        font-size: 20px;
        font-size: 3vw;
        line-height: 1.6;
        line-height: 1;
        width: 14.93333vw; } }

/*************
reservation
*/
.btn__reservation {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 9.33333vw;
    z-index: 99;
    width: 4.33333vw;
    height: 4.33333vw;
    /* background-image: url("../img/common/common/btn_reservation_base.png"); */
    background-color: #e63947e7;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #FFF;
    border-top: 0; }
    .btn__reservation__img {
        width: 3vw; }
    @media only screen and (max-width: 1000px) {
      .btn__reservation {
        right: 20vw;
        width: 11.2vw;
        height: 11.2vw; }
        .btn__reservation .btn__reservation__img {
          margin-top: 0vw;
          width: 7vw;} }


/*------------------------------------*\
	$TOP
\*------------------------------------*/
html.top .main {
    color: #1D3557;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    /* background-image: url("../img/main_bg.jpg");
    background-size: cover;
    background-position: center center; } */
}
    @media only screen and (max-width: 1000px) {
        html.top .main {
            background: #F1FAEE;
            min-height: auto;
            padding-bottom: 8vw;
            /* background-image: url("../img/main_bg_sp_2.jpg") ;
            background-repeat: no-repeat;
            background-size: 100vw auto;
            background-position: center top; */
        } } 

html.top .main__texts {
    text-align: center;
    position: relative;
    padding-top: 8vw;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 1;
    height: 50vh;
    margin: 0 auto;
    font-family: "Noto Serif JP", serif;
    text-align: center;
    text-shadow: 0 0 25px #FFF, 0 0 20px #FFF, 0 0 10px #FFF, 0 0 10px #FFF, 0 0 5px #FFF, 0 0 4px #FFF, 0 0 3px #FFF, 0 0 2px #FFF, 0 0 1px #FFF; }
    @media only screen and (max-width: 1000px) {
        html.top .main__texts {
            padding-top: 67.3333vw;
            padding-bottom: 33vw;
            width:  72.53333%;
            height: auto; } }

html.top .main__texts__text {
    font-size: 46px;
    font-size: 5vw;
    line-height: 1.6; }
    @media only screen and (max-width: 1000px) {
        html.top .main__texts__text {
        font-size: 28px;
        font-size: 8vw;
        line-height: 1.6; }
        html.de.top .main__texts__text {
        font-size: 3.53333vw; }}

/**
$social
**/
html.top #social{
    width: 100%;
    display: block;
    text-align: center;
    background: #A8DADC;
    }
html.top #social li{
    display: inline-block;
    margin: 1.25vw 2vw;
    width: 9vw;
    padding: 0 1vw;
    vertical-align: middle;
}
html.top #social li:nth-of-type(3){
    width: 9vw;
    padding: 0;
}
@media only screen and (max-width: 1000px) {
    html.top #social li{
        display: inline-block;
        margin: 7.7vw 2vw;
        width: 11vw;
        padding: 0 2vw;
        vertical-align: middle;
    }
    html.top #social li:nth-of-type(3){
        width: 11vw;
    }
}

html.top .main__featured {
    position: absolute;
    z-index: 1;
    font-size: 0;
    right:0px;
    left:0px;
    margin:auto auto;
    top: -12.66667vw;
    width: 77.06667vw;
    text-align: center;
}
    @media only screen and (max-width: 1000px) {
    html.top .main__featured {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateX(0);
        margin:8vw 0 } }

html.top .main__featured__item {
    position: relative;
    width: 1116px;
    width: 37.2vw;
    height: auto;
    height: 284px;
    height: 9.46667vw;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.66667vw;
    padding: 2px;
    background-color: #E63946;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4); }
    html.top .main__featured__item a {
    position: relative;
    display: block; }
    html.top .main__featured__item:hover:before {
    opacity: 1; }
    html.top .main__featured__item:before {
    opacity: 0;
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #0e9ee3;
    transition: opacity 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75); }


    @media only screen and (max-width: 1000px) {
    html.top .main__featured__item {
        width: 710px;
        width: 94.66667vw;
        height: auto;
        display: block;
        margin: 0 auto 4vw;
        text-align: left; }
        html.top .main__featured__item:last-child {
        margin-bottom: 0; }
        html.top .main__featured__item:after {
        width: 40px;
        width: 5.33333vw;
        height: auto;
        height: 30px;
        height: 4vw;
        bottom: 2.66667vw;
        right: 2.66667vw; }
        html.top .main__featured__item.up .main__featured__item__figure:after {
        width: 70px;
        width: 9.33333vw;
        height: auto;
        height: 70px;
        height: 9.33333vw; } }

html.top .main__featured__item__figure {
    position: relative;
    display: inline-block;
    width: calc( 16.53333vw - 2px);
    vertical-align: top; }
    @media only screen and (max-width: 1000px) {
    html.top .main__featured__item__figure {
        width: calc( 42.13333vw - 2px); }
        html.top .main__featured__item__figure:after {
        width: 20px;
        width: 2.66667vw;
        height: auto;
        height: 18px;
        height: 2.4vw;
        top: 1.06667vw;
        left: 1.06667vw; } }

html.top .main__featured__item__body {
    position: relative;
    display: inline-block;
    text-align: left;
    width: calc( 20.66667vw - 2px);
    height: calc( 9.46667vw - 2px);
    padding: 1.5vw;
    vertical-align: top;
    /* background-image: url("../img/common/common/waku_featured.png");
    background-position: 2px;
    background-size: contain; } */
}
    html.top .main__featured__item__body p {
    color: #fff;
    position: absolute;
    width:90%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38px;
    font-size: 1.26667vw;
    line-height: 1.6;
    font-weight: bold; }
    @media only screen and (max-width: 1000px) {
    html.top .main__featured__item__body {
        width: calc( 52.53333vw - 2px);
        height: calc( 23.86667vw - 2px);
        padding: 2.66667vw; }
        html.top .main__featured__item__body p {
                padding-right: 1vw;
        font-size: 24px;
        font-size: 3.2vw;
        line-height: 1.6;
        width: calc(100% - 4vw); } }

html.top .content,
html.top .contentSub {
  position: relative;
  z-index: 1;
  padding: 3.33333vw 0 0 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1000px) {
    html.top .content,
    html.top .contentSub {
      padding: 8vw 0; } }

html.top .contentSub {
  height: 42vw;
  margin-top: 8px;
  padding: 6.66667vw 0;
  background-size: cover;
  background-position: center center;
  overflow: hidden; }
  @media only screen and (max-width: 1000px) {
    html.top .contentSub {
      height: auto;
      padding: 13.33333vw 0 8vw;
      background-size: 100%;
      background-position: top;
      background-color: white; } }

    @media only screen and (max-width: 1000px) {
    html.top .contentSub .btn_more p {
        font-size: 40px;
        font-size: 5.33333vw;
        line-height: 1.6;
        line-height: 13.33333vw; } }

html.top .content__header {
    position: relative;
    z-index: 100;
    /* background-image: url("../img/common/common/title_base.png");
    background-size: cover; */
    background-color: #9ad1f3e7;
    width: 1676px;
    width: 55.86667vw;
    height: auto;
    height: 134px;
    height: 4.46667vw;
    margin: 0 auto 3.33333vw;
    color: #0b263d;
    text-align: center; }
    @media only screen and (max-width: 1000px) {
        html.top .content__header {
        width: 750px;
        width: 100vw;
        height: auto;
        height: auto;
        margin-bottom: 8vw;
        /* background: url("../img/common/common/title_waku_top_sp.png") no-repeat, url("../img/common/common/title_waku_bottom_sp.png") no-repeat;
        background-size: 100%; */
        background-position: center top,center bottom;
        background-color: #9ad1f3e7; } }
    
    html.top .content__header__title {
    display: inline-block;
    font-size: 100px;
    font-size: 3.33333vw;
    line-height: 1.6;
    font-family: "Cardo", serif;
    line-height: 4.66667vw;
    vertical-align: middle;
    font-weight: bold; }
    @media only screen and (max-width: 1000px) {
        html.top .content__header__title {
        font-size: 64px;
        font-size: 8.53333vw;
        line-height: 1.6;
        line-height: 13.33333vw; } }
    
    html.top .content__header__subTitle {
    display: inline-block;
    font-size: 40px;
    font-size: 1.33333vw;
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    vertical-align: middle;
    letter-spacing: 0.33333vw;
    margin-left: 1.33333vw; }
    @media only screen and (max-width: 1000px) {
        html.top .content__header__subTitle {
        font-size: 24px;
        font-size: 3.2vw;
        line-height: 1.6;
        letter-spacing: 0.53333vw;
        margin-left: 4vw; } }

        html.top .bio {
            height: 58.66667vw;
            /* background-image: url("../img/common/top/bio_bg.jpg");
            background-size: cover; */
            background-color: #457B9D ;
            overflow: hidden; }
            @media only screen and (max-width: 1000px) {
              html.top .bio {
                height: auto;
                padding-bottom: 0; } }
          
          html.top .bio__body {
            position: absolute;
            top: 17vw;
            left: 50vw;
            width: 1140px;
            width: 38vw;
            height: auto;
            padding: 2.33333vw 2vw 4.33333vw;
            background-color: rgba(255, 255, 255, 0.6); }
            @media only screen and (max-width: 1000px) {
              html.top .bio__body {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 10;
                margin-top: 93.33333vw;
                padding: 5.33333vw;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, white 20%, white 100%); } }
          
          html.top .bio__title {
            position: relative;
            font-size: 68px;
            font-size: 2.26667vw;
            line-height: 1.6;
            line-height: 1.4;
            font-family: "Noto Serif JP", serif;
            font-weight: bold; }
            html.top .bio__title span {
              display: block; }
            @media only screen and (max-width: 1000px) {
              html.top .bio__title {
                font-size: 54px;
                font-size: 7.2vw;
                line-height: 1.6;
                line-height: 1.4; }
                html.top .bio__title span {
                  display: inline; } }
          
          html.top .bio__text p {
            text-align: left;
            font-size: 30px;
            font-size: 1vw;
            line-height: 1.6;
            margin-top: 1.33333vw;
            font-weight: bold; }
          
          @media only screen and (max-width: 1000px) {
            html.top .bio__text p {
              margin-top: 5.33333vw;
              font-size: 26px;
              font-size: 3.46667vw;
              line-height: 1.6; } }
          
          html.top .bio__figure {
            position: absolute;
            bottom: 0vw;
            left: 8vw;
            z-index: 10;
            width: 1217px;
            width: 40.56667vw;
            padding: 8vw;
            height: auto; }
            @media only screen and (max-width: 1000px) {
              html.top .bio__figure {
                padding: 0vw;
                top: 17.33333vw;
                bottom: auto;
                left: 0;
                width: 100%;
                margin: 0 auto; } }

/* 
$FOOTER  
*/

#footer {
    position: relative;
    z-index: 1; }

    .footer__default {
        text-align: center;
        background-color: #A8DADC;
        font-size: 0;
        padding: 1.33333vw 0;
        color: #000; }
        .footer__default .footer__default__text {
          text-align: right;
          display: inline-block;
          font-size: 32px;
          font-size: 1.56667vw;
          line-height: 1.6;
          vertical-align: middle;
          margin-right: 2.66667vw; }
        .footer__default .footer__default__figure {
          display: inline-block;
          vertical-align: middle;
          width: 10.83333vw; }
          .footer__default .footer__default__figure img {
            width: 6vw;
            height: auto; }
        @media only screen and (max-width: 1000px) {
          .footer__default {
            padding: 8vw 0; }
            .footer__default .footer__default__text {
              width:56vw;
              font-size: 26px;
              font-size: 3.46667vw;
              line-height: 1.6; }
            .footer__default .footer__default__figure img {
              width: 15vw; } }