{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css\infordion.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script>
    window.onload = function() {
        if (window.jQuery) {  
            // jQuery is loaded  
            alert("Yeah!");
        } else {
            // jQuery is not loaded
            alert("Doesn't Work");
        }
    }
</script> -->
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__texts">
        <p class="main__texts__text">ACCORDION</p>
    </div>
    <div class="bg"></div>
    <div class="flex w-screen justify-center">
        <div class="akord flex flex-col content-center w-1/2 space-y-1">
            <div class="acakt flex flex-col justify-center">
                <div class="accbut flex w-full justify-evenly bg-red-600 p-1 space-x-1"> 
                    <button class="accord p-2 w-full">AKTIVITAS SAAT INI</button>
                    <button class="swapdown p-2 bg-blue-600 ">V</button>
                    <button class="swapup p-2 bg-blue-600">^</button>
                </div>
                <div class="panel bg-white p-2" style="display: none"><p>
                    Grinding.
                </p></div>
            </div>
            <div class="acpel flex flex-col justify-center">
                <div class="accbut flex w-full justify-evenly bg-red-600 p-1 space-x-1"> 
                    <button class="accord p-2 w-full">PENGALAMAN ORGANISASI</button>
                    <button class="swapdown p-2 bg-blue-600">V</button>
                    <button class="swapup p-2 bg-blue-600">^</button>
                </div>
                <div class="panel bg-white p-2" style="display: block"><p>
                    Berpengalaman dalam menjalankan ekstrakulikuler tentang IT pada saat SMA sebagai wakil ketua.
                </p></div>
            </div>
            <div class="acpre flex flex-col justify-center">
                <div class="accbut flex w-full justify-evenly bg-red-600 p-1 space-x-1"> 
                    <button class="accord p-2 w-full">PENGALAMAN KEPANITIAAN</button>
                    <button class="swapdown p-2 bg-blue-600">V</button>
                    <button class="swapup p-2 bg-blue-600">^</button>
                </div>
                <div class="panel bg-white p-2" style="display: none"><p>
                    Saya merasa belum pernah mengikuti kepanitiaan yang saya rasa "notable".
                </p></div>
            </div>
            <div class="acpre flex flex-col justify-center">
                <div class="accbut flex w-full justify-evenly bg-red-600 p-1 space-x-1"> 
                    <button class="accord p-2 w-full">PRESTASI</button>
                    <button class="swapdown p-2 bg-blue-600">V</button>
                    <button class="swapup p-2 bg-blue-600">^</button>
                </div>
                <div class="panel bg-white p-2" style="display: none"><p>
                    Saya pernah menjadi runner-up pada perlombaan desain grafis.
                </p></div>
            </div>
        </div>
    </div>
    <script src="{% static 'js\infordion.js' %}" type="text/javascript"></script>
    <div class=" h-64"></div>
</main>
<section id="profile" class="content profile">
    <div></div>
    <ul class="main__featured">
        <li class="main__featured__item">
            <a href="/story3#bio">
                <div class="main__featured__item__body">
                    <p>PROFILE</p>
                </div>
            </a>
        </li>
    </ul>
</section>
{% endblock %}