{% extends "base.html" %}
{% load static %}

{% block content %}
        <main class="main">
            {% if nama %}
            <div class="flex justify-center h-screen align-center">
                <table class="table-auto mt-32">
                    <thead>
                      <tr>
                        <th class="px-4 py-2">Nama</th>
                        <th class="px-4 py-2">{{ nama }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="border px-4 py-2">Deskripsi</td>
                        <td class="border px-4 py-2">{{ desc }}</td>
                      </tr>
                      <tr>
                        <td class="border px-4 py-2">SKS</td>
                        <td class="border px-4 py-2">{{ sks }}</td>
                      </tr>
                      <tr>
                        <td class="border px-4 py-2">Dosen</td>
                        <td class="border px-4 py-2">{{ dosen }}</td>
                      </tr>
                      <tr>
                        <td class="border px-4 py-2">Kelas</td>
                        <td class="border px-4 py-2">{{ kelas }}</td>
                      </tr>
                      <tr>
                        <td class="border px-4 py-2">Semester</td>
                        <td class="border px-4 py-2">{{ semester }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            {% else %}
            <div class="main__texts">
                <p class="main__texts__text">Missing Matkul 404</p>
            </div>
            {% endif %}
            <div class="bg">

            </div>
        </main>
        <section id="profile" class="content profile">
            <div></div>
            <ul class="main__featured">
                <li class="main__featured__item">
                    <a href="/story3#bio">
                        <div class="main__featured__item__body">
                            <p>PROFILE</p>
                        </div>
                    </a>
                </li>
                <li class="main__featured__item">
                    <a href="/story3/another">
                        <div class="main__featured__item__body">
                            <p>ANOTHER PAGE</p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
{% endblock %}