{% extends "base.html" %}
{% load static %}

{% block content %}
        <main class="main">
            <div class="main__texts">
                <p class="main__texts__text">Daftar MataKuliah</p>
            </div>
            <div class="flex w-screen justify-center">
                {% if matkuls %}
                <div class="flex space-x-5">
                    {% for matkul in matkuls %}
                    <div>
                        <form action="detailmatkul" method="GET" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            <div>{{ matkul.name }}</div>
                            <input type=hidden value="{{ matkul.id }}" name="matkulid">
                            <input type="submit" value="Detail" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                        </form>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="bg">

            </div>
        </main>
        <section id="profile" class="content profile">
            <div></div>
            <ul class="main__featured">
                <li class="main__featured__item">
                    <a href="/story3#bio">
                        <div class="main__featured__item__body">
                            <p>PROFILE</p>
                        </div>
                    </a>
                </li>
                <li class="main__featured__item">
                    <a href="#atur">
                        <div class="main__featured__item__body">
                            <p>ATUR MATKUL</p>
                        </div>
                    </a>
                </li>
            </ul>
            <section id="atur" class="content bio">
                <header class="content__header">
                    <h1 class="content__header__title">Atur Matkul</h1>
                </header>
                <div class="flex flex-col justify-center space-y-20" style="height: 47vw">
                    <div class="flex flex-col md:flex-row w-screen justify-items-center md:justify-center md:space-x-5 m-x-auto">
                        <div class="w-full max-w-xs">
                            <form action="savematkul" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                        Tambah
                                    </label>
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="namamatkul" type="text" placeholder="Nama MatKul">
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="descmatkul" type="text" placeholder="Deskripsi">
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="kelasmatkul" type="text" placeholder="Kelas">
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="smstrmatkul" type="text" placeholder="Semester">
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="sksmatkul" type="text" placeholder="SKS">
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="dosenmatkul" type="text" placeholder="Dosen">
                                    <!-- <p class="text-red-500 text-xs italic">Sudah ada dalam database!</p> -->
                                </div>
                            <div class="flex items-center justify-between">
                                <input type="submit" value="Proses" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                            </div>
                            </form>
                        </div>

                        <div class="w-full max-w-xs">
                            <form action="deletematkul" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                        Hapus
                                    </label>
                                    <div class="inline-block relative w-64">
                                        {% if matkuls %}
                                        <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" id="namamatkul" name="namamatkul">
                                            {% for matkul in matkuls %}
                                            <option value="{{ matkul.id }}"> {{ matkul.name }}</option>
                                            {% endfor %}
                                        </select>
                                            {% else %}
                                        <select disabled style="color: grey" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                            <option> Tak ada MatKul </option>
                                        </select>
                                        {% endif %}
                                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                        </div>
                                    </div>
                                    <!-- <p class="text-red-500 text-xs italic">Tidak ada dalam database!</p> -->
                                </div>
                            <div class="flex items-center justify-between">
                                <input type="submit" value="Proses" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
{% endblock %}