<!DOCTYPE html>
{% load static %}
<html class="us top firefox device-unknown desktop mouse modern wf-notoserifjp-n4-active wf-notoserifjp-n7-active wf-notosansjp-n4-active wf-notosansjp-n7-active wf-cardo-n4-active wf-active" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <title>Login | PPW</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'index2.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib.css' %}">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css\dafbuk.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js\dafbuk.js' %}" type="text/javascript"></script>
    </head>
    <body style="top: 0px">
        <div id="wrapper" class="wrapper">
            <main class="main">
                <div class="container mx-auto h-screen flex justify-center align-middle items-center">
                    <div class="w-1/3">
                        <form action="login" method="POST">
                            {% csrf_token %}
                            <h1 class="font-bold mb-6 text-center">Login</h1>
                            <div class="border-teal p-8 border-t-12 bg-white mb-6 rounded-lg shadow-lg">
                                <div class="mb-4">
                                    <label class="font-bold text-grey-darker block mb-2">Username</label>
                                    <input type="text" name="username" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Your Username">
                                </div>
                                
                                <div class="mb-4">
                                    <label class="font-bold text-grey-darker block mb-2">Password</label>
                                    <input type="password" name="password" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Your Password">
                                </div>

                                {% if fail %}
                                <label class="font-hairline text-red-500 block mb-2">Wrong username/password!</label>
                                {% endif %}
                            
                                <div class="flex items-center justify-center">
                                    <button type="submit" class="bg-black hover:bg-teal text-white font-bold py-2 px-4 rounded">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center">
                            <p class="text-grey-dark text-sm">Don't have an account? <a href="\story9\register" class="no-underline text-blue font-bold">Create an Account</a>.</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>