* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
/* background-color: #666; */
padding: 10px;
text-align: center;
font-size: 25px;
/* color: white; */
}

/* Create two columns/boxes that floats next to each other */
nav {
float: left ;
width: 20%;
text-align: center;
/* height: 300px; only for demonstration, should be removed */
/* background: #ccc; */
padding: 20px;
}

Style the list inside the menu
nav ul {
list-style-type: none;
padding: 0;
}

#prof {
    min-width: 17vw ;
    max-width: 200px;
}

article {
float: left;
padding: 20px;
width: 80%;
/* background-color: #f1f1f1; */
/* height: 300px; only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 1100px) {
nav, article {
    width: 100%;
    height: auto;
}
}

#volume {
    position: absolute;
  right: 0px;
  top: 0px;
}

#bgmvol {
    min-width: 5vw ;
    min-height: 1vw ;
    font-size: 3vmin;
}