.searchbook {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.searchtitle {
    padding: 3px;
    font-weight: bold;
}

.searchbox {
    min-width: 300px;
}

.bukubuku {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    /* height: 20rem; */
    max-width: 10rem;
    justify-content: space-between;
}

.bukubuku img{
    min-height: 15rem;
    width: auto;
}

.bukubuku h1, a{
    width: auto;
    padding: 5px;
    font-weight: bold;
}

.bukubuku a{
    color: rgb(52, 135, 190);
}

.hasilsearch {
    overflow-y: scroll;
    align-content: flex-start;
    justify-content: center;
}